.container {
  width: 80vw;
  height: 90vh;
  margin: auto;
}

.body {
  display: flex;
  flex-direction: column;
  height: 45%;
  height: fit-content;
  align-items: center;
}

.title {
  align-self: center;
  margin-top: 5px;
}

.screenshots {
  width: 50%;
}

.screenshots img {
  height: 100%;
}

.details {
  width: 50%;
  height: 250px;
  overflow: auto;
  padding: 10px;
}

.detailsEvaluation {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
}

.review {
  position: sticky;
  color: orange;
  width: 50%;
  height: 150px;
  overflow: auto;
}

.review_title {
  width: fit-content;
  margin: 0 0 10px 0;
}

.review button {
  border: none;
  background-color: inherit;
}

.review_box {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: 10px;
}

.review_box input {
  width: 99%;
}

@media screen and (max-width: 768px) {
  .screenshots {
    width: 100%;
  }
  .details {
    width: 100%;
    height: 200px;
    margin-top: 10px;
  }
  .review {
    width: 100%;
    margin-top: 10px;
  }

  .review_box input {
    width: 300px;
  }
}
