.container {
  width: 80vw;
  height: 90vh;
  margin: auto;
  margin-top: 20px;
}

.body {
  display: flex;
  flex-direction: column;
  height: 45%;
  height: fit-content;
  align-items: center;
}

.title {
  align-self: flex-start;
  position: relative;
  left: 25%;
  margin: 0;
  height: 5%;
}

.screenshots {
  width: 50%;
  height: 432px;
}

.screenshots div {
  height: 100%;
}

.screenshots img {
  height: 100%;
}

.details {
  width: 50%;
  padding: 10px;
}

.review {
  width: 50%;
  border: 1px solid black;
  height: 50%;
}

@media screen and (max-width: 1600px) {
  .body {
    flex-direction: column;
    height: fit-content;
  }
  .screenshots {
    width: 100%;
  }
  .details {
    width: 100%;
    padding: 10px 0;
  }
}
