.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.gridBox {
  justify-items: center;
  align-items: center;
  width: 90%;
  height: 80%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto auto auto;
}

.titleBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 95%;
  height: 100%;
}

.title h1 {
  margin: 0;
}

.screenshotsBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column: 1/2;
  grid-row: 2/3;
  width: 95%;
  height: 95%;
}

.screenshots {
  width: 980px;
  /* width: 820px; */
  height: 560px;
}

.screenshots div {
  width: 100%;
  height: 100%;
}

.screenshots div img {
  width: 100%;
  height: 100%;
}

.evaluationBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column: 1/2;
  grid-row: 3/4;
  width: 95%;
  height: 100%;
}

.evaluation {
  width: 95%;
  height: 90%;
}

.evaluation h2 {
  margin: 0;
}

.evaluation span {
  margin-right: 10px;
}

.stores {
  width: 95%;
  height: 90%;
}

.stores h2 {
  margin: 0;
}

.stores span {
  margin-right: 10px;
}

.detailsReivewBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/4;
  width: 95%;
  height: 93%;
}

.details {
  width: 100%;
  height: 60%;
  overflow: auto;
}

.details h2 {
  margin-top: 0;
}

.review {
  width: 100%;
  height: 65%;
  overflow: auto;
}

.reviewInput {
  margin: auto;
  width: 100%;
}

.reviewInput input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  background-color: inherit;
}
