.game_title {
  display: flex;
  justify-content: space-between;
}

.game_title span {
  height: fit-content;
}

@media screen and (max-width: 768px) {
  .game {
    padding: 0 13px;
  }

  .game div div {
    width: auto;
  }

  .game_title {
    display: block;
  }

  .searchBar {
    width: 250px;
  }
}
