.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

.link {
  text-decoration: none;

  color: inherit;
}

.game_title {
  display: flex;
  justify-content: space-between;
}

.game_title span {
  height: fit-content;
}

.rating_box {
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .game_title {
    display: block;
  }
}
