.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

.searchBar {
  position: relative;
  text-align: center;
  width: 35vw;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all, 1s;
  background-color: #ffff;
  border-radius: 25px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border: 5px solid white;
  padding: 5px;
  opacity: 0.7;
  margin-top: 30px;
}

.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.game div div {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .game {
    padding: 0 13px;
  }

  .game div div {
    width: auto;
  }

  .searchBar {
    width: 250px;
  }
}
